<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include head.ejs %>
</head>
<body>

<%- include am.ejs %>

<!--main-container-part-->
<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div class="breadcrumbs" id="breadcrumbs">
            <a id="task-pre" class="task-changebt" style="display: none;">←</a>
            <div id="task-content" style="width: 118px;">
                <ul class="macro-component-tab" id="task-content-inner" style="width: 118px;">
                    <li class="macro-component-tabitem noclose  tip-bottom" app-id="0" app-url="/Home/Index" class="tip-bottom" app-name="控制面板">
                        <span class="macro-tabs-item-text"><i class="icon-home"></i>控制面板</span>
                    </li>
                </ul>
                <div style="clear:both;"></div>
            </div>
            <a id="task-next" class="task-changebt" style="display: none;">→</a>
        </div>




    </div>
    <!--End-breadcrumbs-->



</div>
<!--end-main-container-part-->

<%- include pm.ejs %>

<script type="text/javascript">
    require(['base'], function (base){

        //初始化
        base.init();
    });

</script>
</body>

</html>