
<!--Header-part-->
<div id="header">
    <h1><a href="/admin">勺光，希望之光</a></h1>
</div>
<!--close-Header-part-->
<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav">
        <li class="dropdown" id="profile-messages">
            <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">欢迎您:admin</span><b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-user"></i> 个人信息</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="icon-check"></i> 修改密码</a></li>
                <li class="divider"></li>
                <li><a href="/Account/LogOff"><i class="icon-key"></i> 退出登录</a></li>
            </ul>
        </li>

        <li class=""><a title="" href="#"><i class="icon icon-cog"></i> <span class="text">修改密码</span></a></li>
        <li class=""><a title="" href="/Account/LogOff"><i class="icon icon-share-alt"></i> <span class="text">退出登录</span></a></li>
    </ul>
</div>
<!--close-top-Header-menu-->
<!--start-top-serch-->

<!--close-top-serch-->
<!--sidebar-menu-->
<div id="sidebar">

    <ul>
        <li class="liactive"><a href="/" style="color:#fff;"><i class="icon icon-home"></i> <span>控制面板</span></a> </li>


        <li class="submenu">
            <a href="#"><i class="icon icon-th-list"></i> <span>数据管理</span> <span class="label label-important">4</span></a>
            <ul>
                <li><a href="/admin/questionlist"  id="questionlist">问题列表</a></li>
                <li><a href="/admin/channel" id="channel">问题分类</a></li>
                <li><a href="/admin/tags" id="tags">标签管理</a></li>
                <li><a href="/admin/article" id="articlelist">文章管理</a></li>
            </ul>
        </li>

        <li class="submenu">
            <a href="#"><i class="icon icon-file"></i> <span>系统管理</span> <span class="label label-important">5</span></a>
            <ul>
                <li><a href="#">会员管理</a></li>
                <li><a href="#">财务管理</a></li>
                <li><a href="#">权限管理</a></li>
            </ul>

        </li>



    </ul>
</div>
<!--sidebar-menu-->