<!DOCTYPE html>
<html>
<head>
    <title>活动报名</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="walter <louja@qq.com>">

    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />

    <link rel='stylesheet' href='/stylesheets/activity.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrapValidator.css' />



</head>
<body>

<!-- 头部导航 -->
<div class='navbar'>
    <div class='navbar-inner'>
        <div class='hcontainer'>
        <h3>活动报名入口</h3>
        </div>
    </div>
</div>
<!-- 结束导航 -->


<div class="container-fluid">
    <div class="row">
      <div class="panel">

          <form class="form-horizontal">
              <div class="form-group">
                  <label for="txtmobile" class="col-sm-2 control-label">手机号</label>
                  <div class="col-sm-9">
                      <input type="text" class="form-control" id="txtmobile" placeholder="手机号">
                  </div>
              </div>

              <div class="form-group">
                  <label for="txtname" class="col-sm-2 control-label">姓名</label>
                  <div class="col-sm-9">
                      <input type="text" class="form-control" id="txtname" placeholder="姓名">
                  </div>
              </div>

              <div class="form-group">
                  <label for="txtverifycode" class="col-sm-2 control-label">验证码</label>
                  <div class="col-sm-9">
                      <input type="text" class="form-control" id="txtverifycode" placeholder="验证码">
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-default">下一步</button>
                  </div>
              </div>
          </form>
      </div>
        </div>
</div>




<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/bootstrapValidator.js"></script>
<script src="/javascripts/jquery.form.js"></script>
<script src="/javascripts/index.js"></script>


</body>
</html>
