<!--Footer-part-->
<div class="row-fluid">
    <div id="footer" class="span12"> 2015 &copy;勺光</a> </div>
</div>

<!--end-Footer-part-->
<!--end-Footer-part-->
<script src="/javascripts/lib/require.js" data-main="/javascripts/background/main"></script>

