body {
    background: #efefef;
    color: #aaa;
    font-family: 'Avenir Next',Avenir,'Helvetica Neue',Helvetica,'Lantinghei SC','Hiragino Sans GB','Microsoft YaHei',"微软雅黑",STHeiti,'WenQuanYi Micro Hei',SimSun,sans-serif;
}
.navbar {
    margin-bottom: 0;
    z-index: 9;
    width: 100%;
    position: relative;
    background: #64ba9d;
    font-size: 13px;
    border-radius:0px;
}

.navbar-inner {
    background: 0 0;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    width: 90%;
    margin: auto;
   text-align: center;
    color: #FFFFFF;
    min-height: 40px;
}

.navbar-inner:after,.navbar-inner:before {
    display: table;
    line-height: 0;
    content: ""
}

.navbar-inner:after {
    clear: both
}

.navbar .hcontainer {
    width: auto
}

.panel{
    width: 90%;
    background: #fff;
    border-radius: 5px;
    margin-top: 16px;
    margin-left:auto;
    margin-right: auto;
    padding-top: 16px;
    padding: 0 5px;
}